/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
	padding: 0;
    margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #666666;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 52px;
  font-weight: bold;
  text-transform: uppercase;
}

h2{
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 25px;
  color: #444444;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.badge {
  background-color: #ff4e50;
  color: white;
  border-radius: 25px;
  padding: 5px 10px;
  margin-bottom: 30px;
  display: inline-block;
}

header {
  background: rgba(0,0, 0, 0.3) url('../images/header-background.jpeg');
  background-blend-mode: multiply;
  background-size: cover;
  height: 700px;
  margin-bottom: 100px;
  .top-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    .logo {
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
    }
    nav {
      a {
        color: white;
        border: 1px solid transparent;
        padding: 10px 15px;
        &:hover {
          border: 1px solid white;
          border-radius: 25px;
          background-color: white;
          color: black;
        }
      }
      
    }
  }
  .hero{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: white;
      width: 490px;
      text-align: center;
      margin-bottom: 30px;
    }
    .subtitle {
      font-weight: 300;
      font-size: 24px;
      color: white;
      margin-bottom: 30px;
    }
    button {
      background-color: #FF4E50;
      color: white;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 25px;
      &:hover{
        background-color: darken($color: #FF4E50, $amount: 10%);
      }
    }
  }
}

.how-it-works {
  margin-bottom: 100px;
  .cards-container{
    display: flex;
    .card{
      min-height: 400px;
      padding: 30px;
      padding-top: 15%;
      margin: 15px;
      color: white;
      flex: 1;
      h3 {
        font-size: 24px;
        margin-bottom: 15px;
      }
      &:nth-child(1) {
        background: rgba(0,0, 0, 0.3) url(../images/step1.jpg);
        background-size: cover;
        background-blend-mode: color;
      }
      &:nth-child(2) {
        background: rgba(0,0, 0, 0.3) url(../images/step2.jpg);
        background-size: cover;
        background-blend-mode: color;
      }
      &:nth-child(3) {
        background: rgba(0,0, 0, 0.3) url(../images/step3.jpg);
        background-size: cover;
        background-blend-mode: color;
      }
    }
  }
}

.meet-a-partner{
  margin-bottom: 100px;
  text-align: center;
  .cards-container {
    display: flex;
    margin-bottom: 30px;
    h4 {
      color: #444444;
      margin-bottom: 15px;
    }
    .card {
      flex: 1;
      margin: 15px;
      text-align: center;
      .image-container {
        margin-bottom: 15px;
        position: relative;
        i {
          position: absolute;
          bottom: 5px;
          right: calc(50% - 60px);
          color: white;
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 14px;
        }
      }
      &:nth-child(1) {
        .image-container {
          i {
            background: #ff4e50;
          }
        }
      }
      &:nth-child(2) {
        .image-container {
          i {
            background: #19d4ca;
          }
        }
      }
      &:nth-child(3) {
        .image-container {
          i {
            background: #ffa710;
          }
        }
      }
      &:nth-child(4) {
        .image-container {
          i {
            background: #667df3;
          }
        }
      }
    }
  }
  button {
    border: 2px solid #ff4e50;
    padding: 10px 15px;
    border-radius: 25px;
    color: #ff4e50;
    font-weight: bold;
    &:hover {
      background-color: #ff4e50;
      color: white;
    }
  }
}

.discover-holiday-activity{
  margin-bottom: 100px;
  .cards-container{
    .row {
      display: flex;
      flex-wrap: wrap;
      .card {
        margin: 15px;
        width: 350px;
        height: 310px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        h4 {
          display: none;
        }
        &:hover {
          h4 {
            display: block;
            background-color: rgba(0,0, 0, 0.5);
            color: white;
            padding: 10px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      &:nth-child(1) {
        .card {
          &:nth-child(1){
            background: url('../images/sports.jpg');
            background-size: cover;
            flex: 1;
          }
          &:nth-child(2) {
            background: url('../images/wellness.jpg');
            background-size: cover;
            flex: 1;
          }
          &:nth-child(3) {
            background: url('../images/extreme.jpg');
            background-size: cover;
            flex: 1;
          }
        }
      }
      &:nth-child(2) {
        .card {
          &:nth-child(1) {
            background: url('../images/games.jpg');
            background-size: cover;
            flex: 1;
          }
          &:nth-child(2) {
            background: url('../images/culture.jpg');
            background-size: cover;
            flex: 2.1;
          }
        }
      }
      &:nth-child(3) {
        .card {
          &:nth-child(1) {
            background: url('../images/enjoyment.jpg');
            background-size: cover;
            flex: 2.1;
          }
          &:nth-child(2) {
            background: url('../images/traveling.jpg');
            background-size: cover;
            flex: 1;
          }
        }
      }
    }
    
  }
}
